{% extends "base.html" %}
{% load static %}

{% block main %}

<div class="d-flex justify-content-center align-items-center" style="min-height: 70vh;">
  <div class="card shadow p-4" style="width: 550px;">
    <h2 class="text-center mb-4">ログイン</h2>
    <form action="{% url 'nagoyameshi:login' %}" method="post">
      {% csrf_token %}
      <table class="w-100 text-center">
        <tr class="contact"><th class="text-start"><label for="id_username" class="contact_label">メールアドレス:</label></th>
            <td><input type="text" name="username" autocomplete="off" required id="id_username" class="form-control"></td>
        </tr>
        <tr class="contact">
          <th class="text-start"><label for="id_password" class="contact_label">パスワード:</label></th>
          <td><input type="password" name="password" autocomplete="off" required id="id_password" class="form-control"></td>
        </tr>
      </table>
      <div class="text-center mt-4">
        <input class="btn btn-warning w-100" type="submit" value="ログイン">
      </div>
    </form>

    <div class="text-center mt-4">
      <a href="{% url 'nagoyameshi:password_reset' %}" class="btn btn-outline-secondary w-100 mb-2">パスワードをお忘れの方はこちら</a>
      <a href="{% url 'nagoyameshi:signup' %}" class="btn btn-outline-primary w-100">アカウントをお持ちでない方はこちら</a>
    </div>
  </div>
</div>

{% endblock %}
