{% extends 'base.html' %}

{% block main %}


<div class="container my-5">
    <div class="row">
        <div class="col-12">
            <h1>マイページ</h1>  <!--ProfileからMypageに変更-->
            <form method="POST">
                {% csrf_token %}
                <div class="form-group ">
                    <label>氏名</label>
                    <input class="form-control" type="text" name="name" placeholder="name"
                        value="{{user.profile.name}}">
                </div>
                <div class="form-row">

                    <div class="form-group col-md-2">
                        <label>郵便番号</label>
                        <input class="form-control" type="text" name="zipcode" placeholder="zipcode"
                            value="{{user.profile.zipcode}}">
                    </div>
                </div>
                <div class="form-group">
                    <label>住所</label>
                    <input class="form-control" type="text" name="address" placeholder="address"
                        value="{{user.profile.address}}">
                </div>
                <div class="form-group">
                    <label>郵便番号</label>
                    <input class="form-control" type="text" name="zipcode" placeholder="zipcode" value="{{user.profile.tel}}">
                </div>

                <button type="submit" class="btn btn-primary">保存</button>
            </form>

            <div class="mt-4 d-flex justify-content-between">
                <a href = "{% url 'nagoyameshi:signup_premium' %}" class="btn btn-primary">有料プラン登録</a>
                <!-- <a class="btn btn-outline-danger me-2">有料プラン登録</a>-->
                <a href = class="btn btn-outline-info me-2">予約一覧</a>
                <a href = class="btn btn-outline-success">お気に入り一覧</a>
                <!--<a href = class="btn btn-outline-info me-2">有料会員解約</a> -->
            </div>

        </div>
    </div>
</div>



{% endblock %}



                <!--<a href="{% url 'signup_premium' %}" class="btn btn-outline-danger me-2">有料会員登録</a>-->