{% extends 'base.html' %} {% block main %}
<div style="max-width: 700px; margin: 0 auto; text-align: center">
	<h2>{{ restaurant.name }}</h2>         <!--object→restaurant-->
	<div class="bg-white border overflow-hidden">
		<img
			src="{{ restaurant.image.url }}"
			alt="{{ restaurant.name }}"
			width="100%"
		/>
	</div>

	<table style="margin: 0 auto; text-align: left; border-spacing: 10px">
		<tr>
			<th>店舗名</th>
			<td>{{ restaurant.name }}</td>
		</tr>
		<tr>
			<th>説明</th>
			<td>{{ restaurant.description }}</td>
		</tr>
		<tr>
			<th>価格帯</th>
			<td>¥{{ restaurant.price }}</td>
		</tr>
		<tr>
			<th>住所</th>
			<td>{{ restaurant.address }}</td>
		</tr>
		<tr>
			<th>郵便番号</th>
			<td>{{ restaurant.post_code }}</td>
		</tr>
		<tr>
			<th>営業時間</th>
			<td>{{ restaurant.start_time }} ~ {{ restaurant.end_time }}</td>
		</tr>

		<tr>
			<th>定休日</th>
			<td>{{ restaurant.closed_day }}</td>
		</tr>
		<tr>
			<th>電話番号</th>
			<td>{{ restaurant.phone }}</td>
		</tr>
	</table>

	<form action="/cart/add/" method="POST" style="margin-top: 20px">
		{% csrf_token %}
		<input type="hidden" name="item_pk" value="{{ restaurant.pk }}" />   <!--object→restaurant-->
		<a href="{% url 'nagoyameshi:reservation' restaurant.pk %}">予約する</a>
	    <!--<a href="{% url 'nagoyameshi:reservation' restaurant.pk %}" class="btn btn-primary"> -->
		<input class="btn btn-outline-warning" type="submit" value="お気に入り登録"/>
	</form>
</div>

<!--レビュー表示-->
<div style="max-width: 600px; margin: 40px auto 0 auto; text-align: center">
	<h3>レビュー一覧</h3>
	<div class="review-list">
	    {% for review in reviews %}
		<div class="review-item">
	    	<p>ユーザ名　{{ review.user }}</p>
	        <p>評価　{{review.star}}</p>
			<p>コメント　{{ review.content }}<p>
		</div>	
	</div>	
	{% empty %}
	<p>まだレビューはありません。</p>
	{% endfor %}

	<h3>レビュー投稿</h3>
    <form method="post" style="margin-bottom: 200px;">
        {% csrf_token %}
        
        <p>
            <label>件名</label>
            <textarea type="context" rows="1" style="width: 90%;"></textarea>
        </p>
        <p>
            <label>内容</label>
            <textarea name="content" rows="5" style="width: 90%;"></textarea>
        </p>
        <p>
            <label>星</label>
            <input type="number" name="star" min="1" max="5" value="5">
        </p>

        <button type="submit">投稿する</button>
    </form>
</div>
</div>

{% endblock %}
