{% extends "base.html" %}

{% block extra_head %}
{% endblock %}

{% block main %}

<form action="{% url 'nagoyameshi:restaurant_list' %}" method="" id="restaurant_search">
    <div class="input-group">
        <input class="form-control" type="text" name="search" value="{{ request.GET.search }}" placeholder="検索">
        <div class="input-group-append">
            <input class="btn btn-outline-warning" type="submit" value="検索" id="search_button">
        </div>
    </div>
</form>

{% for restaurant in restaurants %}
  <div id="restaurants">
    <a href="{% url 'nagoyameshi:restaurant_detail' restaurant.id %}" class="restaurant_list">
        <div id="restaurant_image"><img src="{{ restaurant.image.url }}" alt="{{restaurant.name}}" ></div>
        <div id="restaurant_name">{{ restaurant.name }}</div>
        <div style="text-align:left"> カテゴリ: {% for category in restaurant.category_name.all %}{{ category.category_name }} {% endfor %}</div>
        <div id="restaurant_info">{{ restaurant.address }}</div>
    </a>
  </div>
{% endfor %}

<div id="page">
    {# ページの表示 #}
    {{ restaurants.number }} / {{ restaurants.paginator.num_pages }} ページ<br>
    
    {% if restaurants.has_previous %}
    <a href="?page=1">&laquo; 先頭</a>
    <a href="?page={{ restaurants.previous_page_number }}">前へ</a>
    {% endif %}

    {% if restaurants.has_next %}
    <a href="?page={{ restaurants.next_page_number }}">次へ</a>
    <a href="?page={{ restaurants.paginator.num_pages }}">最後 &raquo;</a>
{% endif %}
  
    
    {% if restaurants.has_previous %}
    <a href="{{ restaurants.first_page_link }}">&laquo; 先頭</a>
    <a href="{{ restaurants.previous_page_link }}">前へ</a> 
    {% endif %}

    {% if restaurants.has_next %}
    <a href="{{ restaurants.next_page_link }}">次へ</a>
    <a href="{{ restaurants.end_page_link }}">最後 &raquo;</a>
    {% endif %}
</div>

<div class="back_top"><a href="{% url 'nagoyameshi:index' %}">トップページに戻る</a></div>
{% endblock %}
