{% extends 'base.html' %}
 
{% block main %}
<div style="text-align: center; max-width: 600px; margin: 0 auto;">
<table style="margin: 0 auto; text-align: left; border-spacing: 10px;">
<h2>{{object.name}}</h2>
<p>店舗名  ラーメン1</p>
<p>説明　　{{object.description}}</p>
<p>価格帯　　{{object.price}}</p>
<p>住所　　{{object.address}}</p>
<p>郵便番号　　{{object.post_code}}</p>
<p>営業開始時間　　{{object.start_time}}</p>
<p>営業終了時間　　{{object.end_time}}</p>
<p>定休日　　{{object.closed_day}}</p>
<p>電話番号　　{{object.phone}}</p>
<form action="/cart/add/" method="POST">
  {% csrf_token %}
  <input type="hidden" name="item_pk" value="{{object.pk}}">
  <p><input type="number" name="quantity" value="1" max="{{object.stock}}"> 点</p>
  <p><button type="submit" class="btn btn-success">お気に入り</button></p>
</table>
</div>
</form>
 
{% endblock %}




----------
premium用
{% extends "base.html" %}

{% block main %}

    <div class="signup_pros">
        <h2>有料プラン登録</h2>
        <h4 class="signup_subtitle">有料プランに登録するとできること</h4>
        <ul class="signup_list">
            <li>気に入ったお店をお気に入りに登録可能</li>
            <li>お店のレビューを投稿可能</li>
            <li>いつでもお店の予約が可能</li>
            <li>月額たったの300円</li>
        </ul> 
    </div>

{% extends "nagoyameshi/base.html" %}
{% load static %}



ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー
restaurant_detail用
{% extends 'base.html' %}

{% block main %}
<div style="max-width: 600px; margin: 0 auto; text-align: center;">
    <h2>{{ object.name }}</h2>
      <div class="bg-white border overflow-hidden">
        <img src="{{ restaurant.image.url }}" alt="{{ restaurant.name }}" width="100%">
      </div>
    
    <table style="margin: 0 auto; text-align: left; border-spacing: 10px;">
        <tr>
            <th>店舗名</th>
            <td>{{ restaurant.name }}</td>
        </tr>
        <tr>
            <th>説明</th>
            <td>{{ restaurant.description }}</td>
        </tr>
        <tr>
            <th>価格帯</th>
            <td>{{ restaurant.price }}</td>
        </tr>
        <tr>
            <th>住所</th>
            <td>{{ restaurant.address }}</td>
        </tr>
        <tr>
            <th>郵便番号</th>
            <td>{{ restaurant.post_code }}</td>
        </tr>
        <tr>
            <th>営業時間</th>
            <td>{{ restaurant.start_time }} ~ {{ restaurant.end_time }} </td>
        <tr>
            <th>定休日</th>
            <td>{{ restaurant.closed_day }}</td>
        </tr>
        <tr>
            <th>電話番号</th>
            <td>{{ restaurant.phone }}</td>
        </tr>
    </table>

    <form action="/cart/add/" method="POST" style="margin-top: 20px;">
        {% csrf_token %}
        <input type="hidden" name="item_pk" value="{{ object.pk }}">
         <input class="btn btn-outline-warning" type="submit" value="お気に入り登録" >
        <!--<p><input type="number" name="quantity" value="1" max="{{ object.stock }}"> 点</p>-->
    </form>
</div>

<!--ーーーーーーーーーーーーーーーーー有料会員判定ーーーーーーーーーーーーーーーーーーーーーーーーー-->

<!--有料会員の場合-->
<!--{% if request.user.customer %}  -->
<!--お気に入り登録 

<form action="{% url 'nagoyameshi:favorite' %}" method="post"  class="restaurant_detail_submit">    
    {% csrf_token %}
    <input type="hidden" name="restaurant" value="{{ restaurant.id }}">
    <input class="btn btn-outline-warning" type="submit" value="お気に入り登録" >
</form><br><br>

-->

<!--レビュー表示-->
<h2>レビュー一覧</h2>
{% for review in reviews %}
  <p>{{ review.user }}: {{ review.content }}</p>
{% empty %}
  <p>まだレビューはありません。</p>
{% endfor %}

<h2>レビュー投稿</h2>
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">投稿する</button>
</form>

<!---
<h2 style="text-align: center;">レビュー内容</h2>
{% for review in reviews %}
<div class="review_star" style="text-align: center;">
    <span class="review_true_star">{% for s in review.star_icon.true_star %}<i class="fas fa-star"></i>{% endfor %}</span>
    <span class="review_false_star">{% for s in review.star_icon.false_star %}<i class="far fa-star"></i>{% endfor %}</span>
</div>

    <table class="table">
        <tr>
            <th>アカウント名</th>
                <td>
                    {{ review.user.name }}
                </td>
        </tr>

        <tr>
            <th>件名</th>
                <td>
                    {{ review.subject }}
                </td>
        </tr>
 
        <tr>
            <th>内容</th>
                <td>
                    {{ review.content }}
                </td>
        </tr>
        </table>
</div><br><br>
{% endfor %}
-->

<!--{% endif %} -->  

{% endblock %}

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー